/* You can add global styles to this file, and also import other style files */
.mb-4 {
  margin-bottom: 4px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.cursor-pointer {
  cursor: pointer;
}
